In [ ]:
#1. Set the variable test1 to the string ,This is a test of the emergency text system,, and save test1 to a
#file named test.txt.

test.txt file is created and the line inside it is :

    test1 = 'This is a test of the emergency text system'

In [2]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
#and test 2?

test2=open('test.txt','r')
test2.read()

"test1 = 'This is a test of the emergency text system'"

In [ ]:
'''3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

books.csv file is created with the above lines given.

In [9]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
#these fields: title (text), author (text), and year (integer).

SyntaxError: invalid syntax (<ipython-input-9-4a99b5505043>, line 4)

In [3]:
import sqlite3
conn = sqlite3.connect('books.db')

print('Opened database successfully')
cur = conn.cursor()
cur.execute('''create table books
         (
         title           text,
         author          tex,
         year        int);''')
print('Table created successfully')
 
   
conn.close()

Opened database successfully
Table created successfully

In [26]:
#5. Read books.csv and insert its data into the book table.

import sqlite3

conn = sqlite3.connect('books.db')

print('Opened database successfully')

cur = conn.cursor()
cur.execute('''
          INSERT INTO books (title, author, year)

                VALUES
                ('if its not forever, its not love','Durjoy Datta',2014),
                ('revolution 2020','Nishitha',2016)
                
          ''')

conn.commit()
print('data inserted to database successfully')

Opened database successfully
data inserted to database successfully

In [28]:
#6. Select and print the title column from the book table in alphabetical order.

import sqlite3
conn = sqlite3.connect('books.db')
cur = conn.cursor()
for row in cur.execute('SELECT title FROM books order by title asc;'):
    print(row)

('if its not forever, its not love',)
('if its not forever, its not love',)
('revolution 2020',)

In [30]:
#7. From the book table, select and print all columns in the order of publication.

import sqlite3
conn = sqlite3.connect('books.db')
cur = conn.cursor()
for row in cur.execute('SELECT * FROM books order by year asc;'):
    print(row)

('if its not forever, its not love', 'Durjoy Datta', 2014)
('if its not forever, its not love', 'Durjoy Datta', 2014)
('revolution 2020', 'Nishitha', 2016)

In [34]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
#exercise 

import sqlalchemy, pandas as pd
db = sqlalchemy.create_engine('sqlite:///books.db')
pd.read_sql('select * from books',db)

                              title        author  year
0  if its not forever, its not love  Durjoy Datta  2014
1  if its not forever, its not love  Durjoy Datta  2014
2                   revolution 2020      Nishitha  2016

In [ ]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
#Redis hash called test with the fields count (1) and name (,Fester Bestertester,). Print all the fields for
#test.

I cannot install redis server in my laptop as im using my office laptop. But I can wirte code below

pip install redis

conn = redis.Redis()
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hmget('test', 'count', 'name')

 HINCRBY myhash field 1

In [ ]:
#10. Increment the count field of test and print it.


conn.hincrby('test','count', 3)